<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">
    <title>LoanCalc</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">
    <link type="text/css" href="../static/grid.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href={{ url_for('index') }}>LoanCalc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('index') }}>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('about') }}>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('types') }}>Variations</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href={{ url_for('calc') }}>Calculator</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <h1>Student Debt Calculator</h1>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
          <label for="institution">Institution</label>
          <input type="text" class="form-control" id="institution" name="institution" placeholder="Enter institution name">
          {% for error in form.institution.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="career">Prospective Career</label>
          <input type="text" class="form-control" id="career" name="career" placeholder="Likely Career Path">
          <small class="form-text text-muted">To view the range of prospective occupations, visit https://www.bls.gov/oes/current/oes_nat.htm.</small>
          {% for error in form.career.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="race">Race</label>
          <select type="text" class="form-control" id="race" name="race" placeholder="Ethnicity">
            <option>White</option>
            <option>African American</option>
            <option>Asian</option>
            <option>Hispanic</option>
            <option>Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <select type="text" class="form-control" id="gender" name="gender" placeholder="Enter gender">
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        <div class="form-group">
          <label for="eligibility">Subsidized Loan Eligibility</label>
          <select type="text" class="form-control" id="eligibility" name="eligibility" placeholder="Enter loan eligibility status">
            <option>Eligible</option>
            <option>Ineligible</option>
          </select>
          <small class="form-text text-muted">To confirm your eligibility for Direct Subsidized loans, complete your FAFSA.</small>
        </div>
        <div class="form-group">
          <label for="term">College Term</label>
          <input type="number" class="form-control" id="term" name="term" placeholder="How many years do you think you will be in college?">
          {% for error in form.term.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="family">Prospective Family Size</label>
          <input type="number" class="form-control" id="family" name="family" placeholder="How big do you think your family will become as an adult?">
          {% for error in form.family.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="cost">Cost of Attendance</label>
          <input type="number" class="form-control" id="cost" name="cost" placeholder="How much does your college cost per year?">
          {% for error in form.cost.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="expected">Estimated Family Contribution</label>
          <input type="number" class="form-control" id="expected" name="expected" placeholder="Calculated family contribution">
          <small class="form-text text-muted">If you have not completed your EFC calculation, visit https://bigfuture.collegeboard.org/pay-for-college/paying-your-share/expected-family-contribution-calculator.</small>
          {% for error in form.expected.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="actual">Loan Burden</label>
          <input type="number" class="form-control" id="actual" name="actual" placeholder="How much do you think you'll be taking out in loans each year, to match your EFC?">
          {% for error in form.actual.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
        </div>
        <div class="form-group">
          <label for="dependency">Dependency Status</label>
          <select type="text" class="form-control" id="dependency" name="dependency" placeholder="Enter dependency status">
            <option>Dependent</option>
            <option>Independent</option>
          </select>
          <small class="form-text text-muted">If you don't know your dependency status, check out https://studentaid.ed.gov/sa/fafsa/filling-out/dependency#dependency-questions.</small>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>

      <br />

      <!-- <h3>Institutional Scores</h3>
      <p>Scores for your prospective university range from 0 to virtually any positive integer, and is categorized into zones based on factors including average default rates, debt held after graduation, cost of attendance, and debt-to-earnings ratio.
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            Green: 0-5
          </div>
          <div class="col-md-3 synopsis">
            Yellow: 5-10
          </div>
          <div class="col-md-6">
            Red: 10+
          </div>
        </div>
      </div>

      <br>

      <h3>Personal Scores</h3>
      <p>Scores for your own score also range from 0 to virtually any positive integer, and is categorized into zones based on factors including your institutional score, race, gender, household income, and prospective personal income.
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            Green: 0-9
          </div>
          <div class="col-md-3 synopsis">
            Yellow: 9-15
          </div>
          <div class="col-md-6">
            Red: 15+
          </div>
        </div>
      </div>

      <br> -->


      {% if loans_length > 0 %}
        <hr>
        <div class="col-xs-12" style="height:10px;"></div>
        <h2>Loan Distribution</h2>
        <p>Suggested loan burdens are displayed across federal and private options, by the year that the debt is taken on.</p>
        <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Direct Subsidized Loans</th>
            <th>Direct Unsubsidized Loans</th>
            <th>Private Loans</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in loans.items() %}
            <tr>
              <th scope="row">{{ key+1 }}</th>
              <td>{{ value['Subsidized'] }}</td>
              <td>{{ value['Unsubsidized'] }}</td>
              <td>{{ value['Private'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>


        <div class="col-xs-12" style="height:8px;"></div>
        <h2>Standard Repayment Plan</h2>
        <p>The standard repayment plan is the most basic federal and private loan management plan, involving fixed monthly payments that guarantee the loan is paid off after 10 years. The basics of what your plan would like, based on the annual loan burden you identified and prospective distribution of federal and private loans we recommend, are displayed below.</p>
        <div class="row">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center text-center">Monthly Payments</h5>
                <p class="card-text text-center"><span style="font-size: 60px; font-weight: bold;">{{ total[0] }}</span></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Total Interest</h5>
                <p class="card-text text-center"><span style="font-size: 60px; font-weight: bold;">{{ total[1] }}</span></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center">Total Loan Burden</h5>
                <p class="card-text text-center"><span style="font-size: 60px; font-weight: bold;">{{ total[2] }}</span></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12" style="height:30px;"></div>

        <h2>Your Plan's Practicality</h2>
        <p>One of the biggest issues behind the student loan debt crisis is that borrowers overestimate how much loans they should be taking on. Falling behind on monthly payments, especially with the standard plan, can lead to interest accumulating on top of unpaid interest rather than a decreasing principal, leaving you stuck footing a bigger bill. <span class="font-weight-bold"> Optimally, borrowers should be spending a maximum of 15% of their monthly discretionary income paying back student loans. </span> Given your prospective occupation and monthly payments rate under the standard plan, the percent of your monthly income that would go toward repaying student varies between </p>
        {% if pct_range[0] > 15 %}
          <p class="card-text text-center"><span style="font-size: 96px; font-weight: bold; color: #CC0000;">{{pct_range_text}}</span></p>
          <p class="font-weight-bold font-italic"> Too much of your monthly disposable income is going toward paying off student loans, indicating that you may need to pursue a different career path. </p>
        {% elif pct_range[1] < 15 %}
          <p class="card-text text-center"><span style="font-size: 96px; font-weight: bold; color: #006600;">{{pct_range_text}}</span></p>
          <p class="font-weight-bold font-italic"> The proportion of your monthly disposable income falls under 15%, indicating that you carry a 'safe' level of student debt and should be able to make all your payments. </p>
        {% else %}
          <p class="card-text text-center"><span style="font-size: 96px; font-weight: bold; color: #FFCD4A;">{{pct_range_text}}</span></p>
          <p class="font-weight-bold font-italic"> While at the beginning of your career, your monthly disposable income seems to be too low to safely complete monthly payments, you reach a level of safety as your career progresses and income increases. Consider exploring some of the Income-Driven Repayment Plans, listed below, as an alternative for the fixed payments offered by the Standard Plan. </p>
        {% endif %}

        <div class="col-xs-12" style="height:12px;"></div>

        <h2>Alternative Repayment Plans</h2>
        <p>The US government sponsors a variety of alternative repayment plans for federal loans that can lighten the monthly debt burden and, sometimes, even offer debt forgiveness. To learn more about various loan options, visit our Variations page, and finish your FAFSA to discover your eligibility for these plans.</p>



        <main role="main" class="container">
          <div class="jumbotron">
            <h1>Repayment Plan Options</h1>
            <p class="lead">Learn about the pros and cons of various federal repayment plans.</p>
            <a class="btn btn-lg btn-primary" href={{ url_for('types') }} role="button">Discover repayment options &raquo;</a>
          </div>
        </main>
      {% endif %}

      <!-- <div class="col-xs-12" style="height:15px;"></div> -->


      <hr>
    </main><!-- /.container -->

    <footer class="container">
      <p>&copy; The LoanCalc Company</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/vendor/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
