<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/favicon.ico">

    <title>LoanCalc</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href={{ url_for('index') }}>LoanCalc</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('index') }}>Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('about') }}>About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href={{ url_for('types') }}>Variations </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={{ url_for('calc') }}>Calculator</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <a href="https://studentaid.ed.gov/sa/types/loans" target="_blank"> <h1>1 Variations of Direct Federal Loans</h1> </a>
      <p class="lead"> The Federal Direct Loan Program offers funding to undergraduate students, graduate students, and parents of students. In this program, borrowers do not have a choice of lenders and are offered Stafford, PLUS, and Consolidation loans through funds directly from the US Department of Education. Congress sets the maximum interest rates on the Direct Loan program, values that range from 5-8%. Direct Loan programs offer standard repayment, extended repayment, graduated repayment, and income-contingent repayment.</p>

      <a href="https://studentaid.ed.gov/sa/types/loans/subsidized-unsubsidized" target="_blank"> <h3>1.1 Stafford Subsidized Loans</h3> </a>
      <p>Subsidized loans are reserved for students who can demonstrate a financial hardship, which is defined as family annual income less than about $50,000. If you have a subsidized Stafford loan, you are not responsible for making any payments until after you graduate. Interest rates typically are 5.05% and the government pays your interest during your time college. However, you cannot accrue more than $23,000 in subsidized Stafford Loans throughout your undergraduate studies.</p>
      <a href="https://studentaid.ed.gov/sa/types/loans/subsidized-unsubsidized" target="_blank"> <h3>1.2 Stafford Unsubsidized Loans</h3> </a>
      <p>All students are eligible for this type of Stafford loan. If you have an unsubsidized loan, you are fully responsible for paying off all the interest accrued on the loan. In 2018, interest rates were fixed at 5.05% during the time in school, but payments are typically deferred — or postponed — until after you graduate. The annual Stafford Loan limit for unsubsidized loans ranges from $5,500 to $12,500. You are eligible for a larger loan if you are financially independent.</p>
      <a href="https://studentaid.ed.gov/sa/types/loans/plus/grad-professional" target="_blank">  <h3>1.3 Grad PLUS Loans</h3> </a>
      <p>These loans are for graduate and professional students. They have no maximum amounts and can be used to cover any education costs not covered by other types of financial aid. PLUS loans have a fixed interest rate of 7.6% (2018). The borrower must not have an adverse credit history. Although the regulations are strict, you may still have the opportunity to acquire a PLUS loan if you meet additional requirements.</p>
      <a href="https://studentaid.ed.gov/sa/types/loans/plus/parent" target="_blank">
      <h3>1.4 Parent PLUS Loans</h3> </a>
      <p>These loans are for parents of dependent undergraduate students who are enrolled in school at least half time. They have no maximum amounts and can be used to cover any education costs not covered by other types financial aid. PLUS loans have a fixed interest rate of 7.6% (2018). The borrower must not have an adverse credit history. Although the regulations are strict, you may still have the opportunity to acquire a PLUS loan if you meet additional requirements.</p>
      <a href="https://studentaid.ed.gov/sa/repay-loans/consolidation" target="_blank">  
      <h3>1.5 Consolidation Loans</h3> </a>
      <p>The repayment process can be simplified by applying for a Direct Consolidation Loan. These loans are made so that you make one payment per month to only one servicer. The loan is a fixed-interest loan with rather flexible options that are all dependent on your ability to repay. There is no consolidation fee, and it can only be done once, potentially lowering your monthly payments and also extending the amount of time needed to pay off the loan. These loans aid in reducing late fees as well. With these loans, you could lose some of the benefits offered by the original loan such as eligibility for loan forgiveness programs and interest rate discounts.</p>
      <a href="https://www2.ed.gov/programs/ffel/index.html" target="_blank"><h3>1.6 Federal Family Education Loans (FFEL)</h3> </a>
      <p>This program was the second most dominant in the market. Borrowers have a choice of lenders and are offered Stafford, PLUS, and occasional Consolidation loans. The funding for these loans comes from banks and other financial institutions but is still guaranteed by the government. Congress sets the maximum interest rates on the FFEL program ranging 6.8-8.5%. The FFEL program offers standard repayment, extended repayment and graduated repayment. This program was terminated in 2010.</p>

      <h1 id="repayment">2 Variations of Repayment Plans</h1>

      <a href="https://studentaid.ed.gov/sa/repay-loans/understand/plans" target="_blank"><h2>2.1 Basic Repayment</h2> </a>
      <p class="lead"> All loans, public or private, can be repaid with basic repayment plans that do not take income into account. </p>
      <a href="https://studentaid.ed.gov/sa/repay-loans/understand/plans/standard" target="_blank"><h3>2.1.1 Standard</h3> </a>
      <p>The standard plan is the most basic plan available in the market. It can be used for almost any type of public loan. The payments for this type of loan are fixed, scheduled so that the loan will be paid off after 10 years. Eligibility for this plan covers all major types of the aforementioned federal loans, inclusive of subsidized, unsubsidized, PLUS, consolidation, and stafford loans. It is usually the lowest cost repayment plan. </p>
      <a href="https://studentaid.ed.gov/sa/repay-loans/understand/plans/graduated" target="_blank"><h3>2.1.2 Graduated</h3> </a>
      <p>This repayment plan is very similar to the standard plan. It covers most types of public loans and all borrowers are eligible. However, the payment amounts are on a gradient scale, so you pay less at the start, and higher amounts later on. This plan also finishes in 10 years, but you likely pay more than the basic plan overall.</p>
      <a href="https://studentaid.ed.gov/sa/repay-loans/understand/plans/extended" target="_blank"><h3>2.1.3 Extended</h3> </a>
      <p>The extended repayment plan covers the same loans as the other two plans, but the borrower must have more than $30,000 in student debt to take this plan. This plan lasts 25 years or less, with significantly smaller payments than the other plans. However, this also means that this plan can end up costing much more to pay back in the long run. </p>

      <a href="https://studentaid.ed.gov/sa/repay-loans/understand/plans/income-driven" target="_blank"><h2>2.2 Income-Driven Repayment</h2> </a>
      <p class="lead">The Department of Education offers income-driven repayment (IDR) plans to borrowers who qualify for such plans, and they can lower your payments to as little as 10% of your discretionary income (annual income subtracted by 150% of poverty line for the respective family size).</p>
      <a href="https://studentloanhero.com/featured/income-based-repayment-plan/" target="_blank"><h3>2.2.1 Income-Based Repayment (IBR) Plan</h3> </a>
      <p>To qualify for this plan, your prospective payments must be lower than they’d be on the Standard Repayment Plan and you must demonstrate financial need. Eligible loans include Direct, Federal Stafford, FFEL, and Consolidation Loans. Payments are usually within 10-15% of discretionary income and are held for a term of about 20-25 years. IBR plans can lower monthly payments and make you eligible for forgiveness after the repayment period, although they put you at risk to pay more through interest over time.</p>
      <a href="https://studentloanhero.com/featured/income-contingent-repayment-guide/" target="_blank"><h3>2.2.2 Income-Contingent Repayment (ICR) Plan</h3> </a>
      <p>This plan does not have an income eligibility requirement. Eligible Loans are only Direct Loans and Consolidation Loans. Under ICR, monthly payments are dependent on your income and family size and may even be higher than the Standard Repayment Plan. Payment amounts for these plans are the lesser amount of two options: 20% of your discretionary income or the payment amount on a 12-year fixed repayment plan, adjusted for income. These plans have a specified repayment period of 25 years.</p>
      <a href="https://studentloanhero.com/student-loans/student-loan-repayment/pay-as-you-earn-guide/" target="_blank"><h3>2.2.3 Pay As You Earn (PAYE) Plan</h3> </a>
      <p>To take advantage of PAYE, your prospective payments must be smaller than they’d be on the Standard Repayment Plan. These plans started on October 1, 2007. Eligible Loans are only Direct Loans and Consolidation Loans. Payment amounts for these plans are generally 10% of your discretionary income lasting for a repayment period of 20 years. PAYE plans offer the lowest payment amount for all eligible borrowers and are eligible for loan forgiveness after 20 years.</p>
      <a href="https://studentloanhero.com/featured/repaye-revised-pay-as-you-earn-program-guide/" target="_blank"><h3>2.2.4 Revised Pay As You Earn (REPAYE) Plan</h3> </a>
      <p>While similar to PAYE plans, the most notable differences are that you do not have to demonstrate financial need to be eligible for the plan and that you are eligible regardless of when you took out your first student loan. These changes were made to the PAYE plan in 2015. Eligible Loans are only Direct Loans and Consolidation Loans. Payment amounts for these plans are generally 10% of your discretionary income lasting for a repayment period of 20 years.</p>

      <a href="https://www.privatestudentloans.com/learn/repayment/" target="_blank"><h2>2.3 Private Loan Repayment</h2> </a>
      <p class="lead">Private loans have slightly different repayment plans, and are subject to the wants and needs of the lenders providing them. Many providers offer plans that last either 5, 8, 10, 15, or 20 years.</p>
      <a href="https://www.privatestudentloans.com/learn/repayment/" target="_blank"><h3>2.3.1 Full Principal and Interest </h3> </a>
      <p>This plan allows the borrower to begin repaying their plan as soon as possible with their regular monthly payments, so they pay less in interest overall. </p>
      <a href="https://www.privatestudentloans.com/learn/repayment/" target="_blank"><h3>2.3.2 Interest Only</h3> </a>
      <p>This plan does not have an income eligibility requirement. Eligible Loans are only Direct Loans and Consolidation Loans. Under ICR, monthly payments are dependent on your income and family size and may even be higher than the Standard Repayment Plan. Payment amounts for these plans are the lesser amount of two options: 20% of your discretionary income or the payment amount on a 12-year fixed repayment plan, adjusted for income. These plans have a specified repayment period of 25 years.</p>
      <a href="https://www.privatestudentloans.com/learn/repayment/" target="_blank"><h3>2.3.3 Flat Payment</h3> </a>
      <p>Flat payment allows the borrower to pay one flat rate per month while they are in school before jumping up to their normal payments once they graduate. The flat rate is normally $25 per month.</p>
      <a href="https://www.privatestudentloans.com/learn/repayment/" target="_blank"><h3>2.3.4 Deferred Payment</h3> </a>
      <p>Deferred payments are when the student pays no amount on the loan while they are in school. This plan costs the student nothing while in college, but costs the most in the long run due to interest.</p>

      <a href="https://www.credible.com/blog/student-loans/best-private-student-loans/#private-student-loan-rates" target="_blank"><h1>3 Private Loan Providers</h1> </a>
      <p class="lead">Learn about the variety of private loan providers to discover the best option for you. </p>

      <a href="https://www.salliemae.com/student-loans/" target="_blank"><h3>3.1 Sallie Mae</h3> </a>
      <p>Sallie Mae is the biggest student lender on the market. It offers both undergraduate and graduate school loans, and provides the option for variable or fixed interest rates. Due to the size of the company, they have the greatest flexibility of any student lender. Their variable interest rates range from 4.37 to 11.23 percent and their fixed interest rates range from 5.74 to 11.85 percent, all of which are dependent on the user’s credit score. The three repayment plans they offer are deferred payment, flat payment, and interest only. </h3>
      <a href="https://www.collegeavestudentloans.com/student-loans/" target="_blank"><h3>3.2 College Ave</h3> </a>
      <p>College Ave is very similar to Sallie Mae, but they offer slightly more flexibility for repayment. They have no early payoff fees, which means you can be as aggressive as you want with your loan payments. Their repayment plans last 5, 8, 10, or 15 years, at the borrower’s discretion. Their forbearance options are determined on a case by case basis, which means you have a good chance to be granted forbearance if necessary. College Ave’s current interest rates are 3.94 to 11.19 percent for variable rates and 5.29 to 12.78 percent for fixed rates.</h3>
      <a href="https://www.citizensbank.com/student-lending/student-loans.aspx" target="_blank"><h3>3.3 Citizens Bank</h3> </a>
      <p>Citizens Bank is often considered a top option for taking loans from a major bank. Their student loans are issued in 5 to 15-year terms to students or parents. These plans take a while to qualify for a cosigner release, specifically 36 on-time payments. Fixed interest rates vary from 6.45 to 12.05 percent and variable rates go from 6.42 to 12.02 percent APR. As with most student lenders, a .25 percent rate discount is available if automatic payments are made. There are no origination fees or prepayment fees of any type.</h3>
      <a href="https://www.commonbond.co/borrow-for-school" target="_blank"><h3>3.4 CommonBond</h3> </a>
      <p>CommonBond, unlike other student lenders, offer a program for businesses to offer student loan assistance as a means of employee benefit. There are four repayment options that either start in-school or after graduation. The biggest downside is the two percent origination fee, but past that there are no prepayment fees and the rates are competitive. Interest rates range from 3.95-9.81 percent APR with 5 to 15 year payback periods.</h3>
      <hr>

    </main><!-- /.container -->


    <footer class="container">
      <p>Calculated by The LoanCalc Company</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/vendor/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
